Source: kapidox
Section: libs
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               dh-python,
               extra-cmake-modules (>= 0.0.14),
               pkg-kde-tools,
               python-all-dev,
               python3-all-dev,
               python-setuptools,
               qtbase5-dev
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/frameworks/kapidox
Vcs-Browser: http://bazaar.launchpad.net/~kubuntu-packagers/kubuntu-packaging-next/kapidox
Vcs-Bzr: https://code.launchpad.net/~kubuntu-packagers/kubuntu-packaging-next/kapidox

Package: kapidox
Architecture: any
Multi-Arch: same
Depends: python, ${misc:Depends}, ${shlibs:Depends}
Description: API documentation generation and assets for frameworks.
 Framework to aid in creating API documentation for KDE Frameworks.
