Source: kapidox
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Scott Kitterman <scott@kitterman.com>,
           Scarlett Clark <scarlett@scarlettgatelyclark.com>,
           Maximiliano Curia <maxy@debian.org>
Build-Depends: debhelper (>= 9), dh-python, python
Standards-Version: 3.9.6
Homepage: https://projects.kde.org/projects/frameworks/kapidox
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/kapidox.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/frameworks/kapidox.git

Package: kapidox
Architecture: all
Depends: python-jinja2, python-yaml, ${misc:Depends}, ${python:Depends}
Recommends: libgv-python
Description: API documentation generation tool for KDE frameworks
 Framework to aid in creating API documentation for KDE Frameworks in a
 standard format and style.
 .
 The Doxygen tool is used to do the actual documentation extraction and
 formatting, but this framework provides a wrapper script to make generating
 the documentation more convenient (including reading settings from the target
 framework or other module) and a standard template for the generated
 documentation.
 .
 Scripts currently provided are depdiagram-generate-all, kgenframeworksapidox,
 depdiagram-generate, kgenapidox, and depdiagram-prepare
