#!/usr/bin/make -f
# -*- makefile -*-

export DEB_LDFLAGS_MAINT_APPEND := -Wl,--as-needed

%:
	dh $@ --with python2 --buildsystem=python_distutils

override_dh_auto_clean:
	-dh_auto-clean -O--buildsystem=python_distutils
